[submodule "third_party/uthash"]
	path = source/third_party/uthash
	url = https://github.com/troydhanson/uthash
	ignore = dirty

[submodule "third_party/openthread"]
	path = source/third_party/openthread
	url = https://github.com/OpenMiniServer/openthread
	ignore = dirty

[submodule "third_party/minIni"]
	path = source/third_party/minIni
	url = https://github.com/compuphase/minIni
	ignore = dirty