[submodule "openSrc/uthash"]
	path = openSrc/uthash
	url = https://github.com/troydhanson/uthash
[submodule "openSrc/openthread"]
	path = openSrc/openthread
	url = https://github.com/OpenMiniServer/openthread
